/** Theme modifications here **/
.btn-success {
    background-color: #e2b091 !important;
    border-color: #e2b091 !important;
}
img {
    width: 100%;
}
.navbar-header {
    margin-bottom: 0px !important;
}
.hidden-xs {
    padding-top: 0.5rem;
}
.visible-xs {
    padding-top: 1rem;
}
.owl-controls {
    left: 20px !important;
    text-align: left !important;
    bottom: -32px !important;
}
.icon {
    margin-top: 10px;
}
.navbar-header {
    margin-bottom: 10px;
}
.nav-link {
    color: #333333;
}
a:hover {
    color: #343434 !important;
}
td, th {
    padding:0.5em;
}
table {
    margin-top: -2em;
}
.item>a>img {
    max-width:80%;
}
#productMain {
    margin-bottom: 10px !important;
}
#full-image {
    max-width: 100% !important;
}
.follow-button {
    margin-left: 1em; 
    padding-top: .1em; 
    padding-bottom: .1em; 
    padding-right: .5em;
}
.img-preview {
    margin: 10px;
    border-width: 0.1em;
    border-style: solid;
    border-color: #8a8a8a;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position:center; 
}

/**
 * Overlay CSS
 *
 */
 #profile-badge {
     position: absolute;
     font-size: 30pt;
     bottom: .1em;
     right: .3em;
     color: #1bb4e6;
 }

 #profile-pic {
    margin-bottom: 1em;
    border-radius: 1rem;
    background-color: white;
    border-style: solid;
    border-width: .1em;
    border-color: #8a8787;
 }

/* Product Display CSS */
.display-product {
    min-height: 35em;
}
.product > a > img {
    border-bottom: 3em;
}
#content .product {
    min-height:28em;
}

/* LIGHTBOX CSS */

/* Style the Image Used to Trigger the Modal */
.myImg {
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

/* Popup class */

.popup {
    margin-top: 15em;
    width: 35em;
    left: 30%;
    position: relative;
}
@media screen and (max-width: 815px) and (orientation: portrait) {
    .popup {
        margin-top: 50%;
        width: 21em;
        left: 15%;
        position: relative;
    }
}
@media screen and (max-width: 815px) and (orientation: landscape) {
    .popup {
        margin-top: 15%;
        width: 35em;
        left: 15%;
        position: relative;
    }
}
@media screen and (max-width: 1366px) and (min-width: 1024px) {
    .popup {
        margin-top: 20em;
        width: 35em;
        left: 30%;
        position: relative;
    }
}

/* The Modal (background) */
#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 4em; *//* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
#myModalImg {
    position: absolute;
    margin: auto;
    display: block;
    height: 85vh;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1px;
}
@media screen and (min-width: 815px) {
    #suggested-user-panel {
        margin-right: -6rem;
    }
}

/* Post image preview style */
.post-image-preview {
    padding-left: 9.5rem;
}
@media screen and (max-width: 815px) {
    .post-image-preview {
        padding-left: 6rem;
    }
}



@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}